@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
    --ff-headings: "DM Serif Display", serif;
    --ff-text: "Karla", sans-serif;

    --clr-dark-violet: hsl(256, 26%, 20%);
    --clr-grayish-blue: hsl(216, 30%, 68%);
    --clr-vd-violet: hsl(270, 9%, 17%);
    --clr-dark-grayish-violet: hsl(273, 4%, 51%);
    --clr-vl-gray: hsl(0, 0%, 98%);
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    font-family: var(--ff-text);
    background-color: hsl(0, 0%, 100%);
}

*::before,
*::after, 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
}

.landing-page {
    max-width: 144rem;
    margin-inline: auto;
}

.container {
    width: 86vw;
    max-width: 112.5rem;
    margin-inline: auto;
}

.section-title {
    font-family: var(--ff-headings);
    color: var(--clr-vl-gray);
    font-size: 4.4rem;
    line-height: 1;
}

.title-dark {
    color: var(--clr-vd-violet);
}

.section-title-sm {
    font-family: var(--ff-headings);
    color: var(--clr-vl-gray);
    font-size: 3.8rem;
    line-height: 1;
    margin-bottom: 4rem;
}

.intro-title {
    font-family: var(--ff-headings);
    color: var(--clr-vd-violet);
    font-size: 2.5rem;
    margin-block: 2.6rem 1.6rem;
}

.btn {
    display: inline-block;
    padding-block: 1rem;
    padding-inline: 1.2rem;
    cursor: pointer;
    font-family: inherit;
}

.btn-outline {
    color: var(--clr-vl-gray);
    border: 1.6px solid var(--clr-vl-gray);
    padding-inline: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.btn-outline:hover {
    background-color: var(--clr-vl-gray);
    color: var(--clr-dark-violet);
}

/* header */
.close-icon {
    display: none;
}

.main-header {
    padding-block: 2.5rem;
    /* border: 1px solid lime; */
}

.page-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid hotpink; */
}

.logo-img {
    display: block;
}

.toggle-btn {
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}

.menu-navigation {
    display: none;
    padding-block: 5rem;
    position: absolute;
    width: 100%;
    height: 65rem;
    top: 8.2rem;
    right: 0;
    text-align: center;
    background-color: var(--clr-vd-violet);
    background-image: url("./images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 100;
}

.nav-item {
    /* border: 1px solid crimson; */
}

.nav-link {
    color: var(--clr-vl-gray);
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-weight: 700;
    padding-block: 1.2rem;
    /* border: 1px solid lime; */
}

.link-outline {
    display: block;
    outline: 1px solid var(--clr-vl-gray);
    width: 86vw;
}

.page-navigation.expand .menu-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

/* above the fold section */
.above-the-fold {
    position: relative;
    z-index: 0;
}

.above-the-fold::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-dark-violet);
    z-index: -1;
}

.atf-img {
    display: block;
    width: 100vw;
    max-width: 100vw;
    margin-inline: calc(-50vw + 50%);
}

.atf-content {
    text-align: center;
    padding-block: 10rem 8rem;
    position: relative;
    z-index: 5;
}

.left-pattern {
    position: absolute;
    top: 0;
    left: -7vw;
    z-index: -1;
}

.right-pattern {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    transform: translateY(55%);
    /* border: 1px solid cyan;  */
}

.atf-text {
    margin-block: 2.4rem 3.2rem;
    line-height: 1.6;
    color: var(--clr-vl-gray);
}

/* about us section */
.about-us {
    padding-block: 8rem;
    text-align: center;
}

.d-grid-3 {
    display: grid;
    gap: 5rem;
    position: relative;
}

.d-grid-3::before {
    content: "";
    width: 50%;
    height: 1px;
    top: 0;
    left: 0;
    transform: translateX(50%);
    background-color: hsl(291, 8%, 67%);
}

.d-grid-3 .title-dark {
    color: var(--clr-vd-violet);
    /* margin-bottom: 2rem; */
}

.intro-article {
    padding-block: 2rem;
    /* border: 1px solid lime; */
}

.intro-text {
    color: var(--clr-dark-grayish-violet);
    line-height: 1.6;
}

/* our work */
.our-work {
    text-align: center;
    /* background-color: var(--clr-dark-violet); */
}

.d-grid-2-space-between {
    padding-block: 8rem 7rem;
    background-color: var(--clr-dark-violet);
    background-image: url("./images/bg-pattern-how-we-work-mobile.svg");
    background-position: top right;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

/* footer */
.main-footer {
    background-color: var(--clr-vl-gray);
    text-align: center;
    padding-block: 5rem;
    margin-top: 15rem;
    background-image: url("./images/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left;
}

.footer-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 2.8rem;
    border-bottom: 1px solid hsl(0, 0%, 85%);
}

.social-media-wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.sm-icon:hover path {
    fill: var(--clr-vd-violet);
}

.d-grid-4 {
    padding-top: 5rem;
    display: grid;
    gap: 3.4rem;
}

.footer-title,
.list-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: 700;
}

.footer-title {  
    color: var(--clr-dark-grayish-violet);
    margin-bottom: 3rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.list-link {
    color: var(--clr-vd-violet);
}

.list-link:hover {
    text-decoration: underline;
}

/* media queries */
@media screen and (min-width: 820px) {
    .menu-navigation {
        width: 40rem;
        height: 75rem;
    }

    .link-outline {
        width: 26rem;
    }

    .about-us {
        text-align: left;
        padding-block: 15rem;
    }

    .d-grid-3 {
        grid-template-columns: repeat(3, 1fr);
        gap: 6rem;
    }

    .d-grid-3::before {
        transform: translateX(0);
    }

    .d-grid-3 .title-dark {
        grid-column: 1 / -1;
    }

    .footer-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .d-grid-4 {
        grid-template-columns: repeat(4, 1fr);
        gap: 3.4rem;
    }
}

@media screen and (min-width: 1240px) {
    /* above the fold section */
    .above-the-fold {
        position: relative;
        z-index: 0; 
        padding-block: 11rem 1rem;
    }

    .d-grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .above-the-fold::after {
        height: 80%;
    }

    .atf-img {
        display: block;
        width: 55rem;
        max-width: initial;
        margin-inline: auto;
        order: 0;
    }

    .atf-content {
        text-align: left;
        padding-block: 7rem 5rem;
        order: -1;
    }

    /* our work */
    .our-work {
        text-align: left;
        background-color: transparent;
    }
    
    .d-grid-2-space-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid crimson; */
        padding-block: 0 0;
        padding: 7.2rem;
        background-color: var(--clr-dark-violet);
        background-image: url("./images/bg-pattern-how-we-work-desktop.svg");
    }

    .section-title-sm {
        font-size: 4.2rem;
        line-height: 1;
        margin-bottom: 0;
        width: 38.5rem;
    }

    .left-pattern {
        position: absolute;
        top: 32rem;
        left: -11vw;
        z-index: -1;
        /* border: 1px solid lime; */
    }
    
    .right-pattern {
        bottom: initial;
        top: 0;
        transform: translateY(0);
    }

    .main-footer {
        text-align: left;
        background-image: url("./images/bg-pattern-footer-desktop.svg");
    }

}

@media screen and (min-width: 1400px) {
    .section-title {
        font-size: 7.2rem;
        line-height: 1;
    }

    .section-title-sm {
        width: 52rem;
        font-size: 5.6rem;
    }

    .main-header {
        padding-block: 1.75rem;
    }

    .toggle-btn {
        display: none;
    }

    .menu-navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.4rem;
        padding-block: 0 0;
        position: initial;
        width: initial;
        height: auto;
        top: initial;
        right: initial;
        text-align: left;
        background-color: transparent;
        z-index: 100;
        background-image: none;
    }

    .nav-link {
        color: var(--clr-dark-grayish-violet);
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: 400;
        padding-block: .2rem;
        /* border: 1px solid lime; */
    }

    .nav-link:hover {
        color: var(--clr-vd-violet);
    }
    
    .link-outline {
        display: inline-block;
        color: var(--clr-vd-violet);
        border: 1px solid var(--clr-vd-violet);
        width: initial;
        padding: 1rem 3rem;
    }

    .link-outline:hover {
        background-color: var(--clr-vd-violet);
        color: var(--clr-vl-gray);
        border-color: var(--clr-vd-violet);
    }

    .left-pattern {
        left: -15.75rem;
    }

}